
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}


img {
	margin: 0px;
	padding: 0px;
	border: none;
}

