doctype html
html(ng-app="searchCrawlerApp")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")

		title="search-crawler"

		link(rel="stylesheet", href="//cdn.jsdelivr.net/foundation/5.2.3/css/foundation.min.css")

		link(rel="stylesheet", href="/foundation-icons/foundation-icons.css")

		link(rel="stylesheet", href="/app.css")

		//script(src="/javascripts/modernizr.foundation.js")

		script(src="//code.jquery.com/jquery-2.1.1.min.js")
		
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js")

		script(src="/app.js")

	body

		header
			h1 search-crawler

		div(ng-view, class="view-frame")

		footer
			p Powered by nodejs + Express + MongoDB + Jade + AngularJs + Foundation