
<div class="row">
	<div class="large-12 columns">
		<table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Url</th>
		      <th><a ui-sref="admin.sites.create" class="user-action"><i class="fi-plus"></i></a></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="site in sites">
			    <td>
			      <a ui-sref="admin.sites.detail({ siteName : site.name })" title="detail" class="user-action">
			      	{{site.name}}
			      </a>
			    </td>
			    <td>
	      			{{site.url}}
		      		<a href="{{site.url}}" target="_blank">
			      		<i class="fi-eye"></i>
		      		</a>
		      	</td>
			    <td>
			      <a ui-sref="admin.sites.detail({ siteName : site.name })" title="detail" class="user-action">
			      	<i class="fi-pencil"></i>
			      </a>
			    </td>      
		    </tr>
		  </tbody>
		</table>
	</div>
</div>


