<div class="row">
  <div class="large-12 columns text-center">
  	<div class="panel">
      <p>A simple search server that allow you to crawl, index and search inside your website. <br/>
      	 <code>search-crawler</code> can be easily integrated in any website by using a json based REST API.
      </p>
  	</div>
    <img alt="architecture" src="/architecture.png" />
  	
	  <hr/>
  </div>
  
</div>




<div class="row">
	<div class="large-4 columns" >
		<h4>Get started</h4>
		<p>
			To start using <code>search-crawler</code> you 
			must register a site, configure it and start the crawling process 
			to create the search index.  
		</p>
		<a ui-sref="admin.sites.list" class="small secondary button">Sites &gt;&gt;</a>
	</div>

	<div class="large-4 columns">
		<h4>Documentation</h4>
		<p>
			View projection documentation: requirements, installation and architecture details.<br/>
			Learn how to integrate it with your existing web site and information about REST API.
		</p>
		<a ui-sref="documentation" class="small secondary button">Learn &gt;&gt;</a>
	</div>

	<div class="large-4 columns">
		<h4>Contribute</h4>
		<p>
			<code>search-crawler</code> is a free open source project released with MIT license. 
			You can view, fork or submit patches on github.
		</p>
		<a href="https://github.com/davideicardi/search-crawler" class="small secondary button">show project on github &gt;&gt;</a>
	</div>

</div>


